<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Aether Features &middot; Hugo Themes - aether</title>
  <meta name="description" content="Hugo combined with the Aether theme turns easy to write markdown into powerful web pages.  KaTeX, Highlight.js, and Hugo provides the ability to create mathmatical symobols, equations, highlighted code, tables, lists, and much more." />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">
  
  
  
  
  
  <link href="https://blogdero.netlify.com/css/concated.min.css" rel="stylesheet">
  
  <style>
    body {
      background: #ecedef url("https://blogdero.netlify.com/img/ignasi_pattern_s.png") repeat;
    }
  </style>
</head>

  <body class="single-body">
    <nav class="nav-bar side-padding">
  <h1 class="nav-header"><a href="https://blogdero.netlify.com" class="nav-text">aether</a></h1>
  <div class="hamburger-menu">
    <button onclick="hamburgerMenuPressed.call(this)" aria-haspopup="true" aria-expanded="false" aria-controls="menu" aria-label="Menu">
      <span></span>
      <span></span>
    </button>
    <ul id="menu" class="hamburger-menu-overlay">
      <li><a href="https://blogdero.netlify.com" class="hamburger-menu-overlay-link">Home</a></li>
      <li><a href="https://blogdero.netlify.com/about/" class="hamburger-menu-overlay-link">About Hugo</a></li>
      
      <li><a href="https://blogdero.netlify.com/categories/development/" class="hamburger-menu-overlay-link">Development</a></li>
      
      <li><a href="https://blogdero.netlify.com/categories/features/" class="hamburger-menu-overlay-link">Features</a></li>
      
      <li><a href="https://blogdero.netlify.com/categories/golang/" class="hamburger-menu-overlay-link">golang</a></li>
      
      <li><a href="https://blogdero.netlify.com/categories/web/" class="hamburger-menu-overlay-link">Web</a></li>
      
      
    </ul>
  </div>
</nav>

    <main class="content side-text-padding">
      <article class="post dropcase">
        <header class="post-header">
        	<h1 class="post-title">Aether Features</h1>
          <p class="post-date">Posted <time datetime="2018-12-19">Dec 19, 2018</time></p>
        </header>
        <picture class="post-figure">
          
          
          <source srcset="https://blogdero.netlify.com/posts/aether-features/mdd-iphone_hu84a3e811f2069d8ee93a6de645aedba9_796307_800x0_resize_q75_lanczos.jpg">
          <img src="https://blogdero.netlify.com/posts/aether-features/mdd-iphone_hu84a3e811f2069d8ee93a6de645aedba9_796307_800x0_resize_q75_lanczos.jpg" >
        </picture>
        
        <p>Hugo combined with the Aether theme turns easy to write markdown into powerful web pages.  KaTeX, Highlight.js, and Hugo provides the ability to create mathmatical symobols, equations, highlighted code, tables, lists, and much more.</p>
<p>For each feature below, the first line is the markdown and the second line is the result after Hugo, KaTeX, and Highlight.js process the markdown.  You can find many more features in the Hugo documentation.</p>
<h2 id="latex-style-math-typsetting-with-katex">LaTeX style math typsetting with KaTeX</h2>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-md" data-lang="md">{{&lt; raw &gt;}}
\[u(t) = K_p e(t) + K_i \int_{0}^{t} e(\tau) d\tau + K_d \frac{de(t)}{dt} \]
{{&lt; /raw &gt;}}
</code></pre></div>
\[u(t) = K_p e(t) + K_i \int_{0}^{t} e(\tau) d\tau + K_d \frac{de(t)}{dt} \]

<h2 id="code-supports-many-programming-languages-and-formats">Code (Supports many programming languages and formats)</h2>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-md" data-lang="md"><span style="color:#e6db74">```</span><span style="color:#e6db74">javascript</span><span style="color:#e6db74">
</span><span style="color:#e6db74"></span><span style="color:#66d9ef">var</span> <span style="color:#a6e22e">s</span> <span style="color:#f92672">=</span> <span style="color:#e6db74">&#34;JavaScript syntax highlighting&#34;</span>;
<span style="color:#a6e22e">alert</span>(<span style="color:#a6e22e">s</span>);
<span style="color:#e6db74">```</span>
</code></pre></div><div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-javascript" data-lang="javascript"><span style="color:#66d9ef">var</span> <span style="color:#a6e22e">s</span> <span style="color:#f92672">=</span> <span style="color:#e6db74">&#34;JavaScript syntax highlighting&#34;</span>;
<span style="color:#a6e22e">alert</span>(<span style="color:#a6e22e">s</span>);
</code></pre></div><h2 id="inline-code">Inline code</h2>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-md" data-lang="md">Here is <span style="color:#e6db74">`var s = &#34;Hello World&#34;`</span> inline code
</code></pre></div><p>Here is <code>var s = &quot;Hello World&quot;</code> inline code</p>
<h2 id="tables">Tables</h2>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-md" data-lang="md">| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col 3 is      | right-aligned | $1600 |
| col 2 is      | centered      |   $12 |
| zebra stripes | are neat      |    $1 |
</code></pre></div><table>
<thead>
<tr>
<th>Tables</th>
<th align="center">Are</th>
<th align="right">Cool</th>
</tr>
</thead>
<tbody>
<tr>
<td>col 3 is</td>
<td align="center">right-aligned</td>
<td align="right">$1600</td>
</tr>
<tr>
<td>col 2 is</td>
<td align="center">centered</td>
<td align="right">$12</td>
</tr>
<tr>
<td>zebra stripes</td>
<td align="center">are neat</td>
<td align="right">$1</td>
</tr>
</tbody>
</table>
<h2 id="ordered-list">Ordered List</h2>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-md" data-lang="md"><span style="color:#66d9ef">1.</span> Number one
<span style="color:#66d9ef">2.</span> Number Two
    <span style="color:#66d9ef">1.</span> Indented Number 1
    <span style="color:#66d9ef">2.</span> Indented Number 2
</code></pre></div><ol>
<li>Number one</li>
<li>Number Two
<ol>
<li>Indented Number 1</li>
<li>Indented Number 2</li>
</ol>
</li>
</ol>
<h2 id="unordered-list">Unordered List</h2>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-md" data-lang="md"><span style="color:#66d9ef">*</span> Get groceries at Harris Teeter before the party
<span style="color:#66d9ef">*</span> Get a Spider Man cake
    <span style="color:#66d9ef">*</span> Chocolate or marble
    <span style="color:#66d9ef">*</span> Whipped cream frosting
<span style="color:#66d9ef">*</span> Don&#39;t forget to walk the dog before you leave
<span style="color:#66d9ef">*</span> Bring lots of plates and silverware so that we don&#39;t run out
    <span style="color:#66d9ef">*</span> Plastic Dixie brand is fine
</code></pre></div><ul>
<li>Get groceries at Harris Teeter before the party</li>
<li>Get a Spider Man cake
<ul>
<li>Chocolate or marble</li>
<li>Whipped cream frosting</li>
</ul>
</li>
<li>Don&rsquo;t forget to walk the dog before you leave</li>
<li>Bring lots of plates and silverware so that we don&rsquo;t run out
<ul>
<li>Plastic Dixie brand is fine</li>
</ul>
</li>
</ul>
<h2 id="comments">Comments</h2>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-md" data-lang="md"><span style="color:#66d9ef">&gt; </span><span style="font-style:italic">This is some text that should show up as a comment. Someone may have made this comment but i&#39;m not sure.
</span></code></pre></div><blockquote>
<p>This is some text that should show up as a comment. Someone may have made this comment but i&rsquo;m not sure.</p>
</blockquote>
<h2 id="images">Images</h2>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-md" data-lang="md">![<span style="color:#f92672">NYC Skyline</span>](<span style="color:#a6e22e">/post/aether-features/mdd-iphone.jpg</span>)
</code></pre></div><p><img src="https://blogdero.netlify.com/post/aether-features/mdd-iphone.jpg" alt="NYC Skyline"></p>
<h2 id="small-images">Small Images</h2>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-md" data-lang="md">{{&lt; smallimg src=&#34;featuredImage&#34; alt=&#34;NYC Skyline&#34; smartfloat=&#34;left&#34; width=&#34;250px&#34; &gt;}}
</code></pre></div><picture class="small-pic ">
    
    
    
        
        
        <source srcset="https://blogdero.netlify.com/posts/aether-features/mdd-iphone_hu84a3e811f2069d8ee93a6de645aedba9_796307_250x0_resize_q75_lanczos.jpg">
        <img src="https://blogdero.netlify.com/posts/aether-features/mdd-iphone_hu84a3e811f2069d8ee93a6de645aedba9_796307_250x0_resize_q75_lanczos.jpg" class="small-img smartfloat-left" alt="aether theme displayed on an iPhone"  style="width: 250px;"/>
    
</picture>
<p>This image floats to the left of this paragraph and is 250px wide. Its aspect ratio is maintained so it will not stretch. The picture shows the New York skyline. You can see how the design is responsive and how the cards intelligently fit to the display. With flexbox and css grid, heavy frameworks such as bootstrap aren&rsquo;t necessary to create beautiful responsive designs. The cards in aether use flexbox to change the image from the right side on desktops to the top on mobile.</p>
<h2 id="links">Links</h2>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-md" data-lang="md">[<span style="color:#f92672">Aether&#39;s Github page</span>](<span style="color:#a6e22e">https://github.com/josephhutch/aether</span>)
</code></pre></div><p><a href="https://github.com/josephhutch/aether">Aether&rsquo;s Github page</a></p>

      </article>
      
    </main>
    <nav class="end-nav side-padding">
      
      <a ontouchstart="cardPressed.call(this)" ontouchend="cardReleased.call(this)" ontouchmove="cardReleased.call(this)" 
  href="https://blogdero.netlify.com/posts/aether-theme/" class="card blog-card" rel="bookmark" >
  
  <div class="card-img-container">
    <p class="card-img-overlay">Next Article</p>
    <picture>
      
      <source srcset="https://blogdero.netlify.com/posts/aether-theme/mdd-macbook.jpg">
      <img src="https://blogdero.netlify.com/posts/aether-theme/mdd-macbook.jpg" class="card-img" alt="A MacBook showing a website using the aether theme">
    </picture>
  </div>
  
  <article class="card-body">
    <h2 class="card-title">Aether: A Clean Theme for Hugo</h2>
    <p class="card-text"> Aether is new theme for Hugo that emphasizes motion, material, and depth as design elements. Distracting styling and page elements are forgone to focus on the content.</p>
    <div class="card-subtext muted-text">
      <p>Posted <time datetime="2018-05-02 52:00">May 2, 2018</time></p>
      <p>#Web </p>
    </div>
  </article>
</a>
      
      <a ontouchstart="cardPressed.call(this)" ontouchend="cardReleased.call(this)" ontouchmove="cardReleased.call(this)" 
  href="https://blogdero.netlify.com" class="card home-card" style="background-image: url( https://blogdero.netlify.com/img/grey-cloud.jpg )" rel="bookmark" >
  Home
</a>
    </nav>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.js" integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/contrib/auto-render.min.js" integrity="sha384-kmZOZB5ObwgQnS/DuDg6TScgOiWWBiVt0plIRkZCmE6rDZGrEOQeHM5PcHi+nyqe" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>
  
  <script src="https://blogdero.netlify.com/js/core.min.js"></script>

  </body>
</html>